html, body {
    font-family: 'Consolas', monospace;
    margin: 0;
    height: 100%;
    overflow: hidden;

    background: linear-gradient(32deg, #ff0000, #0064ff);
    background-size: 400% 400%;
    animation: bggradient 9s ease infinite;
}

@keyframes bggradient {
    0%{background-position:33% 0%}
    50%{background-position:68% 100%}
    100%{background-position:33% 0%}
}

.terminal {
    position: relative;
    background-color: #333;
    height: calc(100% - 20px);
    margin: 10px;
    /* Border */
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.text-window {
    position: relative;
    background-color: #0C0C0C;
    border-radius: 0 0 10px 10px;
    top: 5%;
    height: calc(95% - 20px);
    color: #bbb;
    font-weight: 600;
    padding: 10px;
}

/*.text-window:after {*/
/*    content: "|";*/
/*    font-weight: 50;*/
/*    opacity: 50%;*/
/*    animation: 1s blink step-end infinite;*/
/*}*/

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

.tab {
    position: absolute;
    background-color: #0C0C0C;
    top: 4px;
    left: 9px;
    border-radius: 5px;
    height: 35px;
    width: 60px;
    z-index: 1;
    color: white;
}

.tab img {
    position: absolute;
    top: 5px;
    left: 6px;
    height: 60%;
}

.tab a {
    position: absolute;
    top: 8px;
    left: 40px;
    color: rgba(255, 255, 255, 0.7);
    font-size: small;
    text-decoration: none;
    cursor: default;
}

.tab a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.8);
    border-radius: 1px;
    left: 37px;
    padding-left: 3px;
    padding-right: 3px;
}